<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!--
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("电梯", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("登录", "LoginIndex", "LoginSys", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("登出", "Logout", "LoginSys", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "SystemAccount")</li>
                    <li>@Html.ActionLink("温度监控", "Index", "IotTempData")</li>

                </ul>
            </div>*@-->
            <div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/home/index">主页</a>
                        @*@Html.ActionLink("主页", "Index", "Home", new { @class = "navbar-brand" })*@
                    </li>
                    <li><a href="/IotTempData">前往温度监控 </a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            账号管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/SystemAccount">前往系统用户管理 </a></li>
                            <li><a href="/VMAccount">前往虚拟机账户管理 </a></li>
                            <li><a href="/WebAccount">前往WEB平台账户管理 </a></li>
                            <li><a href="/VMAccount">前往虚拟机账户管理 </a></li>
                            <li><a href="/OtherAccount">前往通用账户管理 </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            文件上传下载
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/File/UploadFile">文件上传</a></li>     
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> XXX</a></li>
                    <li><a href="/loginsys/loginindex"><span class="glyphicon glyphicon-log-in"></span>登录</a></li>
                    <li><a href="/loginsys/logout"><span class="glyphicon glyphicon-log-in"></span> 登出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
