@model IEnumerable<JJCKManager.Models.Account>

@{
    ViewBag.Title = "GetAllAcc";
}


<p>
    @Html.ActionLink("录入系统账号", "AddAcc","SystemAccount")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Createdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Upsysacc","SystemAccount", new { id = item.Uid },new { target="_blank"}) |
                @Html.ActionLink("Details", "Details", "SystemAccount", new { id = item.Uid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Uid })
            </td>
        </tr>
    }

</table>
<p>
<a href="/AdminUser" class="btn btn-primary btn-lg">返回上一页 &raquo;</a>
</p>
