@model JJCKManager.Models.Account

@{
    ViewBag.Title = "AccDetalis";
}

<h2>AccDetalis</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdate)
        </dd>
        <dd>
            @ViewBag.g
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Uid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
